<div class="container">
  <div class="row">

    <table>
        <thead>
          <tr>
            <th>pruebaregcivil</th>
          </tr>
        </thead>
      <tbody>
        <tr *ngFor="let lista of listaregcivil">
          <td>{{ lista.prueba}} </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
